<!DOCTYPE html>
<html>
  <head>
    <title>Ask MFM Plugin</title>
    <style>
      body {
          font-family: 'Poppins', sans-serif;
      }
      h1, p {
          font-family: 'Poppins', sans-serif;
      }
      .bottom-center {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding-bottom: 16px;
      }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 style="margin-left: 1rem;">Ask MFM Plugin</h1>
    <div style = "display: flex; flex-direction: column; max-width: 80%; margin-left: 1rem">
        <p>
        Ask MFM is a ChatGPT plugin that lets you ask any questions about business, 
        entrepreneurship, technology, and life, and get an answer based
        on discussions from the My First Million podcast, hosted by Shaan Puri and Sam Parr.
        </p>
        <p>
        Upon receiving a question, the plugin retrieves relevant information from
        podcast episodes where the hosts have touched upon the topic of interest.
        These snippets are extracted from a diverse range of podcast episodes and
        are associated with the respective episode title and a link to the
        complete podcast.
        </p>
        <p>Also, while the podcast is called "My First Million", anything the plugin says should not be considered financial or career advice.
          It's just paraphrasing the podcast. See our <a href="/legal" target="_blank">disclaimer</a> for more details.
        </p>
        <h2>
          Installation
        </h2>
        <p>To install AskMFM, simply add it in the "Plugin Store" once you select Model: GPT-4 --> Plugins --> Plugin Store in the ChatGPT UI (once you have Plugin access)</p>
    </div>
    <div class="bottom-center">
      Made with ☕️ by <a href="https://twitter.com/aadillpickle" target="_blank">@aadillpickle</a>
    </div>
    
  </body>
</html>
